{% extends 'base.html' %}
{% block content %}




    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Authors</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for i in authors %}
            <li class="nav-item">
                <a href="{% url 'author' pk=i.id %}" class="nav-link" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        {{ i.surname }} {{ i.name }}
                </a>
              </li>
        {% endfor %}
    </ul>
    <hr>
  </div>


{#{% for i in authors %}#}
{#    <h2><a href="{% url 'author' pk=i.id %}">{{ i.name }}</a></h2>#}
{#{% endfor %}#}

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Users</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for i in users %}
            <li class="nav-item">
                <a href="{% url 'comments' pk=i.id %}" class="nav-link" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  {% if i.name %}{{ i.name }}{% else %}{{ i.id }}{% endif %}
                </a>
              </li>
        {% endfor %}
    </ul>
    <hr>
  </div>


{% endblock %}

{#{% for i in authors %}#}
{#    <h2><a href="{% url 'author' pk=i.id %}">{{ i.name }}</a></h2>#}
{#    <hr>#}
{#{% endfor %}#}
